#bottom{
    position:absolute;
    top: 110vh;
    color: rgba(0,0,0,0)
}
#container{
    position:relative;
    width: 700px;
    height:500px;
    margin: 0 auto;
    animation-name: fall;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -100;
}
@keyframes fall{
    0%{
        top:-20vh;
    }
    100%{
        top:100vh;
    }
}

#div1{
    width: 40px;
    height:180px;
    background-color: rgba(24, 192, 128, 0.7);
}
#div2{
    width: 190px;
    height:40px;
    background-color: rgba(251, 50, 0, 0.7);
    top:140px;
}
#div3{
    width: 40px;
    height:360px;
    background-color: rgba(192, 0, 251, 0.397);
    left:150px;
}
.number{
    border-radius: 35px;
    position:absolute;
}
#zero{
    width: 360px;
    height: 360px;
    background-color: rgba(0, 17, 251, 0.397);
    left:150px;
    border-radius: 50%;
}
#middle{
    width: 280px;
    height: 280px;
    background-color: white;
    top: 40px;
    left:190px;
    border-radius: 50%;
}
#div4{
    width: 40px;
    height:180px;
    background-color: rgba(24, 192, 128, 0.7);
    left:470px;
}
#div5{
    width: 190px;
    height:40px;
    background-color: rgba(251, 50, 0, 0.7);
    top:140px;
    left: 470px;
}
#div6{
    width: 40px;
    height:360px;
    background-color: rgba(192, 0, 251, 0.397);
    left:620px;
}
p{  
    position:relative;
    top: 200px;
    text-align: center;
    font-family: arial;
    font-size: 3vh;
    animation-name:fadein;
    animation-duration:7s;
    animation-iteration-count: infinite;
}
@keyframes fadein{
    0%{
        color: rgba(0,0,0,0) 
    }
    60%{
        color:rgba(0,0,0,1) 
    }
    100%{
        color:rgba(0,0,0,0) 
    }
}