.form-control.ng-touched.ng-invalid{
    border: 2px solid red;
}

#form-container {
    position: relative;
    width: 100%;
    height: 80vh;
  }
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}